.pagination {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    list-style-type: none;
  }

  &__item--active {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #ccc;

    &__previous,
    &__next,
    &__page {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 0 !important;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: background-color 0.2s;
      user-select: none;

      &:hover {
        background-color: #ccc;
      }
    }

    &__previous {
      border-radius: 3px 0 0 3px;
      padding: 8px;
    }

    &__next {
      border-radius: 0 3px 3px 0;
      padding: 8px;
    }

    &__previous,
    &__next {
      a {
        padding: 8px;
      }
    }

    &__pageLink {
      padding: 8px;
    }
  }
}
