@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: $base-font-size-xsmall;
  font-family: $primary-font;
  color: $text-color;

  @include media-query($breakpoint-small) {
    font-size: $base-font-size-small;
  }

  @include media-query($breakpoint-medium) {
    font-size: $base-font-size-medium;
  }

  @include media-query($breakpoint-large) {
    font-size: $base-font-size-large;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  @include font-size-rem(2.5);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(2.5);
}

h2 {
  @include font-size-rem(2.25);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(2.25);
}

h3 {
  @include font-size-rem(2);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(2);
}

h4 {
  @include font-size-rem(1.75);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(1.75);
}

h5 {
  @include font-size-rem(1.5);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(1.5);
}

h6 {
  @include font-size-rem(1.25);
  font-weight: $bold-font-weight;
  margin-bottom: font-size-rem(1.25);
}

p {
  font-size: font-size-rem(1);
  font-weight: $normal-font-weight;
}

// Typography
body {
  margin: 0;
  padding: $page-padding;
}

// Links
a {
  @include link;
}

// Buttons
button {
  @include button-outline-style;
}

// Forms
form {
  @include form-styles;
}

input {
  @include input-styles;
}

textarea {
  @include textarea-styles;
}
