@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $primary-font;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Typography
body {
  margin: 0;
  padding: $page-padding;
  font-family: $primary-font;
  font-size: $base-font-size;
  color: $text-color;
}

h1 {
  @include font-size-rem(2.5);
  font-weight: $bold-font-weight;
}

h2 {
  @include font-size-rem(2);
  font-weight: $bold-font-weight;
}

h3 {
  @include font-size-rem(1.5);
  font-weight: $bold-font-weight;
}

p {
  font-size: $font-size-medium;
  font-weight: $normal-font-weight;
}

// Links
a {
  @include link;
}

// Buttons
button {
  @include button-style;
}

// Forms
form {
  @include form-styles;
}

input {
  @include input-styles;
}

textarea {
  @include textarea-styles;
}
