@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: $base-font-size-xsmall;
  font-family: $primary-font;
  color: $text-color;

  @include media-query($breakpoint-small) {
    font-size: $base-font-size-small;
  }

  @include media-query($breakpoint-medium) {
    font-size: $base-font-size-medium;
  }

  @include media-query($breakpoint-large) {
    font-size: $base-font-size-large;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Typography
body {
  margin: 0;
  padding: $page-padding;
}

// Links
a {
  @include link;
}

// Buttons
button {
  @include button-outline-style;
}

// Forms
form {
  @include form-styles;
}

input {
  @include input-styles;
}

textarea {
  @include textarea-styles;
}
