.header__title {
  font-size: 24px;
  font-size: calc($size / 16 * 1rem);
  font-weight: 600;
  font-weight: calc($weight / 400 * 1em);
  color: #477ea1; }

.header__subtitle {
  font-size: 20px;
  font-size: calc($size / 16 * 1rem);
  font-weight: 400;
  font-weight: calc($weight / 400 * 1em);
  color: #585858; }
