@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/functions";

.content {
  // @include grid-columns(1);
  @include flex-wrap;

  .header,
  .tools,
  .results,
  .page-controls {
    width: 100%;
  }
}

@include media-query($breakpoint-small) {
  .content {
    .tools {
      max-width: rem-calc(300);
    }

    .results {
      flex-grow: 2;
      width: 20%;
      padding-left: rem-calc(20);

      &__heading {
        $padding: rem-calc(10);

        @include panel-styles;
        padding-top: $padding;
        padding-bottom: $padding;
        flex-wrap: initial;
        margin-top: initial;
        height: rem-calc(41);

        .select {
          display: flex;
          align-items: center;
          font-size: $font-size-small;

          text-align: initial;
          background-color: initial;
          border-radius: initial;
          box-shadow: initial;
          border: initial;
          padding: initial;
          margin: initial;

          select {
            font-size: $font-size-small;
          }
        }

        .select:nth-child(2) {
          justify-content: flex-end;
        }
      }
    }
  }
}

.results {
  &__heading {
    @include flex-wrap;

    .select {
      $fontSize: rem-calc(18);

      @include panel-styles;
      width: 100%;
      text-align: center;
      font-size: $fontSize;

      select {
        margin-left: rem-calc(5);
        font-size: $fontSize;
        border-radius: rem-calc(5);
        color: $text-color;
      }
    }
  }

  &__list {
    @include flex-wrap;
  }
}

.filters {
  @include flex-wrap;
}

@include media-query($breakpoint-medium) {
  .header,
  .results {
    max-width: initial;
  }
}
