@media (max-width: 576px) {
  #content {
    width: 100%;
    margin-right: 20;
    display: flex;
    flex-wrap: wrap; }
  #content:last-child {
    margin-right: 0; }
  #content section {
    width: 100%; } }
