@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/functions";

.results {
  &__list {
    @include flex-wrap;
  }
  &__card:nth-child(1) {
    margin-top: 0 !important;
  }

  &__card {
    @include panel-styles;
    @include flex-wrap;

    width: 100%;
    margin-bottom: 0;

    &-header,
    &-picture,
    &-unit-types,
    &-amenities {
      width: 100%;
    }

    &-picture {
      img {
        border-radius: rem-calc(5);
        width: 100%;
      }
    }
    &-name {
      @include panel-styles;
      box-shadow: none;
      background: $primary;
      text-align: center;
    }

    &-unit-types {
      @include panel-styles;
      @include flex-wrap;

      box-shadow: none;
      list-style: none;
      padding: rem-calc(0);

      li {
        width: 100%;
        padding: rem-calc(0) rem-calc(18);
      }

      li:nth-child(odd) {
        background: lighten($primary, 5%);
      }

      span {
        min-width: rem-calc(50);
        font-weight: $medium-font-weight;
      }
    }

    &-amenities {
      @include panel-styles;
      box-shadow: none;
      margin: 0;
    }
  }
}

@include media-query($breakpoint-small) {
  .results {
    &__card {
      position: relative;
      overflow: hidden;
      gap: rem-calc(20);

      &-name {
        margin: 0;
        box-shadow: none;
        background: $primary;
      }

      &-picture {
        width: initial;
        max-width: rem-calc(230);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-unit-types {
        flex-grow: 2;
        margin: 0;
        width: 50%;

        li {
          display: flex;
          align-items: center;
        }
      }

      &-amenities {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@include media-query($breakpoint-medium) {
  .results {
    &__card {
      &-name {
        justify-content: center;
        display: flex;
        order: 1;
        padding: rem-calc(5);
      }

      &-picture {
        display: flex;
        flex-grow: 1;
        order: 2;
        max-width: rem-calc(135);
      }

      &-amenities {
        display: flex;
        flex-grow: 2;
        order: 3;
        width: 25%;
      }

      &-unit-types {
        display: flex;
        flex-grow: initial;
        width: 100%;
        order: 4;
      }
    }
  }
}
