.results__list {
  display: flex;
  flex-wrap: wrap; }

.results__card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #bcb9b9;
  padding: 18px;
  margin: 20px 0;
  width: 100%;
  margin-bottom: 1rem; }

.results__card-picture img {
  border-radius: 0.3125rem;
  width: 100%; }

.results__card-details {
  display: flex;
  flex-direction: column;
  width: 100%; }

.results__card-details h3,
.results__card-details h6 {
  text-align: center; }

.results__card-details h6 {
  margin: 0; }

.results__card-name {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #bcb9b9;
  padding: 18px;
  margin: 20px 0;
  box-shadow: none;
  background: #d6dde3; }

.results__card-unit-types {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #bcb9b9;
  padding: 18px;
  margin: 20px 0;
  box-shadow: none;
  list-style: none;
  padding: 0rem; }

.results__card-unit-types li {
  padding: 0rem 1.125rem; }

.results__card-unit-types li:nth-child(odd) {
  background: #e5eaed; }

.results__card-unit-types span {
  font-weight: 500; }

.results__card-amenities {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #bcb9b9;
  padding: 18px;
  margin: 20px 0;
  box-shadow: none; }
