@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/functions";

.results {
  &__list {
    @include flex-wrap;
  }

  &__card {
    @include panel-styles;

    width: 100%;
    margin-bottom: rem-calc(16);

    &-picture {
      img {
        border-radius: rem-calc(5);
        width: 100%;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      h3,
      h6 {
        text-align: center;
      }

      h6 {
        margin: 0;
      }
    }

    &-name {
      @include panel-styles;
      box-shadow: none;
      background: $primary;
    }

    &-unit-types {
      @include panel-styles;
      box-shadow: none;
      list-style: none;
      padding: rem-calc(0);

      li {
        padding: rem-calc(0) rem-calc(18);
      }

      li:nth-child(odd) {
        background: lighten($primary, 5%);
      }

      span {
        font-weight: $medium-font-weight;
      }
    }

    &-amenities {
      @include panel-styles;
      box-shadow: none;
    }
  }
}
