@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/functions";

.results {
  &__list {
    @include flex-wrap;
  }

  &__card {
    @include panel-styles;
    @include flex-wrap;

    width: 100%;
    margin-bottom: rem-calc(16);

    &-header,
    &-picture,
    &-unit-types,
    &-amenities {
      width: 100%;
    }

    &-picture {
      img {
        border-radius: rem-calc(5);
        width: 100%;
      }
    }
    &-name {
      @include panel-styles;
      box-shadow: none;
      background: $primary;
      text-align: center;
    }

    &-unit-types {
      @include panel-styles;
      box-shadow: none;
      list-style: none;
      padding: rem-calc(0);

      li {
        padding: rem-calc(0) rem-calc(18);
      }

      li:nth-child(odd) {
        background: lighten($primary, 5%);
      }

      span {
        font-weight: $medium-font-weight;
      }
    }

    &-amenities {
      @include panel-styles;
      box-shadow: none;
    }
  }

  @include media-query($breakpoint-small) {
    .results {
      &__card {
        position: relative;
        overflow: hidden;
        gap: rem-calc(20);

        &-name {
          margin: 0;
          box-shadow: none;
          background: $primary;
        }

        &-picture {
          width: rem-calc(256);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-unit-types {
          flex-grow: 2;
          margin: 0;
          width: 50%;
        }

        &-amenities {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
