@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/functions";

.range-slider {
  width: 100%;
  margin-top: rem-calc(0);

  @include panel-styles;
  position: relative;
  text-align: center;

  &__container {
    display: flex;
    align-items: center;
    margin: auto;
    height: rem-calc(75);
    width: 90%;
  }

  &__track {
    width: 100%;
    background: $range-slider-track-background;
    height: rem-calc(5);
    border-radius: $range-slider-track-border-radius;

    &-1,
    &-2 {
      display: none;
    }
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $range-slider-thumb-background;
    font-size: rem-calc(14);
    width: rem-calc(25);
    height: rem-calc(25);
    border-radius: 50%;
    filter: drop-shadow($range-slider-thumb-drop-shadow);
    text-align: center;

    &::after {
      content: attr(aria-valuenow);
      position: absolute;
      bottom: rem-calc(-17);
      border: none;
    }

    &--active {
      outline: none;
    }
  }
}

@include media-query($breakpoint-medium) {
  .range-slider {
    margin-top: 0;
  }
}
